<%# Required for the cocoon gem %>
<div class="nested-fields">
  <hr>
  <%= f.label :title, required: true %>
  <%= f.text_field :title %>

  <%= f.label :technologies, required: true %>
  <%= f.text_field :technologies %>

  <%= f.label :year_of_completion %>
  <%= f.date_field :year_of_completion %>

  <%# From the cocoon gem, adds dynamic removal of nested form %>
  <%= link_to_remove_association 'Remove Project', f %>
  <hr>
</div>


